<div class="profile__info_wrapper">
  {{#>Form}}
  {{{EmailLine }}}
  {{>Divider}}
  {{{LoginLine }}}
  {{>Divider}}
  {{{FirstNameLine }}}
  {{>Divider}}
  {{{SecondNameLine }}}
  {{>Divider}}
  {{{NicknameLine }}}
  {{>Divider}}
  {{{PhoneLine }}}
  {{/Form}}
  <div class="profile__info_submit_button">
    {{{SubmitButton}}}
  </div>
</div>
