<button class="button__icon button__icon__{{ type }}" page="{{ page }}" {{#if disabled}}disabled{{/if}}>
  <img src="{{ src }}" alt="icon-image" page="{{ page }}" {{#if rotate}}class="button__icon-rotate-{{rotate}}"{{/if}}/>
</button>
