{{#> BaseLayout}}
<div class="profile">
  <aside class="profile__side_menu">
    {{{BackIcon}}}
  </aside>
  <div class="profile__wrapper">
    {{{UserAvatar}}}
    <h1 class="profile__title">{{{first_name}}}</h1>
    <div class="profile__info_wrapper">
      <div class="profile__info_row">
        <h2 class="profile__info_title">Почта</h2>
        <h2 class="profile__info_text">{{{email}}}</h2>
      </div>
      {{>Divider}}
      <div class="profile__info_row">
        <h2 class="profile__info_title">Логин</h2>
        <h2 class="profile__info_text">{{{login}}}</h2>
      </div>
      {{>Divider}}
      <div class="profile__info_row">
        <h2 class="profile__info_title">Имя</h2>
        <h2 class="profile__info_text">{{{first_name}}}</h2>
      </div>
      {{>Divider}}
      <div class="profile__info_row">
        <h2 class="profile__info_title">Фамилия</h2>
        <h2 class="profile__info_text">{{{second_name}}}</h2>
      </div>
      {{>Divider}}
      <div class="profile__info_row">
        <h2 class="profile__info_title">Имя в чате</h2>
        <h2 class="profile__info_text">{{{display_name}}}</h2>
      </div>
      {{>Divider}}
      <div class="profile__info_row">
        <h2 class="profile__info_title">Телефон</h2>
        <h2 class="profile__info_text">{{{phone}}}</h2>
      </div>
    </div>
    <div class="profile__edit_wrapper">
      {{{EditProfileButton}}}
      {{>Divider}}
      {{{EditPasswordButton}}}
      {{>Divider}}
      {{{ExitButton }}}
    </div>
  </div>
</div>
{{/BaseLayout}}
