<div class="field__inline">
  <label for="{{ name }}" class="field__inline_label">{{ label }}</label>
  <input
    value="{{ value }}"
    type="text"
    name="{{ name }}"
    id="{{ name }}"
    class="field__inline_input"
  />
</div>
