<div class="chats">
  <aside class="chats__wrapper">
    <div class="chats__search_wrapper">
      {{{ProfileButton}}}
      {{{CreateChat}}}
      {{{SearchField }}}
    </div>
    {{>Divider}}
    <ul class="chats__list">
      {{{ChatsList}}}
      {{>Divider}}
    </ul>
  </aside>
  {{#if selectedChat}}
  <div class="chat">
    <div class="chat__header">
      <div class="chat__header_info">

        {{{ProfileAvatar}}}
        <h1>USER</h1>
      </div>
      {{{MenuButton}}}
    </div>
    {{>Divider}}
    <div class="chats__messages">
      {{{Messages}}}
    </div>
    {{>Divider}}
    <div class="chats__message_wrapper">
      {{{AttachButton}}}
      {{{MessageField}}}
      {{{SubmitIcon}}}
    </div>
  </div>
  {{else}}
    <div class="chat__empty">
      Выберите чат, чтобы отправить сообщение
    </div>
  {{/if}}
  {{{ChatSettingsDropdown}}}
  {{{ModalAddUser}}}
  {{{ModalDeleteUser}}}
  {{{ModalCreateChat}}}
</div>
