{{#> BaseLayout}}
<div class="signup">
  <div>
    <h1 class="signup__title">Регистрация</h1>
    {{#>Form}}
    {{{EmailField}}}
    {{{LoginField}}}
    {{{FirstNameField}}}
    {{{SecondNameField}}}
    {{{PhoneField}}}
    {{{PasswordField}}}
    {{{RepeatPasswordField}}}
    {{/Form}}
  </div>
  <div>
    {{{RegisterButton }}}
    {{{LoginButton }}}
  </div>
</div>
{{/BaseLayout}}
